<!doctype html>
{{template "header"}}

<body hx-ext="response-targets" hx-target-5*="this">
  <!--Main Navigation-->
  <header>
    <!-- Sidenav -->
    <nav id="main-sidenav" class="sidenav sidenav-sm shadow-1" data-mdb-sidenav-init data-mdb-mode="side"
      data-mdb-hidden="false" data-mdb-accordion="true">
      <a class="ripple d-flex justify-content-center pt-4 pb-2" href="/" data-mdb-ripple-color="primary">
      </a>

      <ul class="sidenav-menu px-2 pb-5" hx-boost="true">
        <li class="sidenav-item">
          <a class="sidenav-link {{if (eq .Template "settings/security/page")}}text-primary bg-light{{end}}" 
            href="/settings/security" 
            hx-target="body" 
            hx-swap="outerHTML">
            <i class="fas fa-shield me-3 {{if (eq .Template "settings/security/page")}}text-primary bg-light{{end}}"></i>
            <span>Security</span></a>
        </li>


        {{ if (eq .IsAdmin true)}}
        <li class="sidenav-item pt-3">
          <span class="sidenav-subheading text-muted text-uppercase fw-bold">Admin</span>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link {{if (eq .Template "settings/users/page")}}text-primary bg-light{{end}}" 
            href="/settings/users" 
            hx-target="body" 
            hx-swap="outerHTML">
            <i class="fas fa-circle-user me-3 {{if (eq .Template "settings/users/page")}}text-primary bg-light{{end}}"></i>
            <span>Users</span></a>
        </li>
        <li class="sidenav-item">
          <a class="sidenav-link {{if (eq .Template "settings/spaces/page")}}text-primary bg-light{{end}}" 
            href="/settings/spaces" 
            hx-target="body" 
            hx-swap="outerHTML">
            <i class="fas fa-folder-tree me-3 {{if (eq .Template "settings/spaces/page")}}text-primary bg-light{{end}}"></i>
            <span>Spaces</span></a>
        </li>
        {{end}}
      </ul>
    </nav>
    <!-- Sidenav -->

    <!-- Navbar -->
    <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top shadow-0">
      <!-- Container wrapper -->
      <div class="container-fluid">
        <!-- Toggler -->
        <button id="toggler" data-mdb-toggle="sidenav" data-mdb-target="#main-sidenav"
          class="btn shadow-0 p-0 me-3 d-block d-xxl-none" aria-controls="#main-sidenav" aria-haspopup="true">
          <i class="fas fa-bars mx-2"></i>
        </button>

        <!-- Right links -->
        <ul class="navbar-nav ms-auto d-flex flex-row">

          <!-- Avatar -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center" data-mdb-dropdown-init
              id="navbarDropdownMenuLink" role="button" aria-expanded="false">
              <i class="fas fa-circle-user fa-2x"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink" hx-boost="true"
              hx-target="body" hx-swap="outerHTML">
              <li><a class="dropdown-item " href="/browser">Browser</a></li>
              <li><a class="dropdown-item" href="/settings">Settings</a></li>
              <li><a class="dropdown-item" href="/logout">Logout</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main id="main" class="container-fluid">
    <!-- Modal -->
    <div id="modal-target" class="modal modal-blur fade" aria-hidden="false">
      <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content"></div>
      </div>
    </div>

    {{ yield }}
  </main>

  <footer></footer>

  <link rel="stylesheet" href="/assets/css/sidenav.css">

  <script src="/assets/js/libs/htmx.min.js"></script>
  <script src="/assets/js/libs/response-targets.js"></script>
<!--  <script type="module" src="/assets/js/sidenav.mjs"></script> -->

  <script type="module">
import {Sidenav, Datatable, Navbar, Dropdown, Modal, Select, initMDB} from "/assets/js/libs/mdb.es.min.js";
import {SetupSideNav, SetupBoostrapElems} from "/assets/js/setup.mjs"

initMDB({Sidenav, Datatable, Navbar, Dropdown, Modal, Select});
SetupSideNav()
SetupBoostrapElems()

  </script>

</body>

</html>
