<div class="container">
  <div class="jumbotron">
    <form action="/auth/authorize" method="POST">
      <h1>Authorize</h1>
      <p>The client would like to perform actions on your behalf.</p>
      <p>
        <button type="submit" class="btn btn-primary btn-lg">
          Allow
        </button>
      </p>
    </form>
  </div>
</div>
