<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <!-- <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100"> -->
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4 text-center">Create Master password 
              <i class="fas fa-xs fa-circle-question" 
                data-mdb-popover-init 
                data-mdb-trigger="hover"
                data-mdb-content="This password is required to decipher all your data. Without it the server can't start properly.">
              </i></h1>
            <p class="text-secondary text-center">This password will be used to encrypt all your files. If you lose it, you will lose all your data.</p>
            <form method="POST" action="/master-password/register" method="post" target="_top" class="needs-validation"  novalidate="" autocomplete="off">

              <div class="mb-3 pb-1">
              <div class="form-outline mb-3" data-mdb-input-init>
                <input type="password" autofocus id="masterPasswordInput" name="password" class="form-control form-control-lg {{ if .PasswordError }}is-invalid{{ end }}" />
                <label class="form-label" for="masterPasswordInput">Master Password</label>
                <div class="invalid-feedback">{{ .PasswordError }}</div>
              </div>
              </div>

              <div class="mb-3 pb-1">
              <div class="form-outline mb-3" data-mdb-input-init>
                <input type="password" autofocus id="confirmInput" name="confirm" class="form-control form-control-lg {{ if .ConfirmError }}is-invalid{{ end }}" />
                <label class="form-label" for="confirmInput">Re-enter your password</label>
                <div class="invalid-feedback">{{ .ConfirmError }}</div>
              </div>
              </div>

              <div class="row mt-4">
                <button type="submit" class="btn btn-primary">Register</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module">
import {Input, Popover, initMDB} from "/assets/js/libs/mdb.es.min.js";

initMDB({Input, Popover})
</script>
