<section class="h-100">
  <div class="container h-100">
    <div class="row justify-content-sm-center h-100">
      <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
        <div class="text-center my-5">
          <!-- <img src="https://getbootstrap.com/docs/5.0/assets/brand/bootstrap-logo.svg" alt="logo" width="100"> -->
        </div>
        <div class="card shadow-lg">
          <div class="card-body p-5">
            <h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
            <form method="POST" class="needs-validation" novalidate="" autocomplete="off">
              <div class="mb-3">
                <label class="mb-2 text-muted" for="username">Username</label>
                <input id="username" type="username" class="form-control {{ if .UsernameError }}is-invalid{{ end }}"
                  name="username" value="{{ .UsernameContent }}" required autofocus
                  aria-describedby="validationUsername">
                <div id="validationUsername" , class="invalid-feedback">{{ .UsernameError }}</div>
              </div>

              <div class="mb-3">
                <label class="text-muted" for="password">Password</label>
                <input id="password" type="password" class="form-control {{ if .PasswordError }}is-invalid{{ end }}"
                  name="password" required aria-describedby="validationPassword">
                <div id="validationPassword" , class="invalid-feedback">{{ .PasswordError }}</div>
              </div>

              <div class="d-flex align-items-center">
                <div class="form-check">
                  <input type="checkbox" name="remember" id="remember" class="form-check-input">
                  <label for="remember" class="form-check-label">Remember Me</label>
                </div>
                <button type="submit" class="btn btn-primary ms-auto">
                  Login
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
