<div class="col-md-10 col-8">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb user-select-none">
      {{range .Elements}}
      <li class="breadcrumb-item {{if not .Current}}active{{else}} fw-bold{{end}} fs-4" {{if
        .Current}}aria_current="page" {{end}}>
        {{if not .Current}}<a href="{{.Href}}" hx-get="{{.Href}}" hx-target="{{$.Target}}" hx-swap="outerHTML"
          class="text-truncate">{{.Name}}</a>{{else}}{{.Name}}{{end}}
      </li>
      {{end}}
    </ol>
  </nav>
</div>
