<div id="breadcrumbBox" class="col-8">
  <nav id="breadcrumContent" aria-label="breadcrumb">
    <ol class="breadcrumb user-select-none">
      {{range .Parents}}
      <li class="breadcrumb-item active fs-6">
        <a href="{{.Href}}" hx-get="{{.Href}}" hx-target="{{$.Target}}" hx-swap="outerHTML"
          class="text-truncate">{{.Name}}</a>
      </li>
      {{end}}
    </ol>
  </nav>
  <h3>{{.CurrentDir.Name}}</h3>
</div>

<script>
function breadcrumbElemsHaveWraped(breadcrumbBox) {
  const allElems = breadcrumbBox.getElementsByClassName("breadcrumb-item")

  for (const el of allElems) {
    // if element is more to the left that it's previous element it means it wrapped to a new line
    if  (el.previousElementSibling && el.offsetLeft < el.previousElementSibling.offsetLeft) {
      return true
    }
  } 

  return false
}

function fitBreadcrumbSize(breadcrumbBox) {
  if (breadcrumbElemsHaveWraped(breadcrumbBox)) {
    console.log('is wrapped')
  } else {
    console.log('is not wrapped')

  }
}

const observer = new ResizeObserver((entries) => {
  entries.forEach((entry) => {
    fitBreadcrumbSize(entry.target);
  });
});

const breadcrumbBox= document.getElementById('breadcrumbBox');
observer.observe(breadcrumbBox);
fitBreadcrumbSize(breadcrumbBox);
</script>
