{{ $url := pathJoin "/browser" $.folder.ID $.fullPath}}
<section id="content" class="p-4" hx-get="{{$url}}" hx-trigger="refresh-event">
  <div id="status-bar"></div>
  <div class="row justify-content-between">
    <div class="col-md-10 col-8">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb user-select-none">
          {{range .breadcrumb}}
          <li class="breadcrumb-item{{if not .Current}} active{{end}}" {{if .Current}}aria_current="page" {{end}}>
            {{if not .Current}}<a href="{{.Href}}" class="text-truncate">{{.Name}}</a>{{else}}{{.Name}}{{end}}
          </li>
          {{end}}
        </ol>
      </nav>
    </div>

    <div class="col-md-2 col-4">
      <button id="upload-btn" class="btn btn-primary button-lg">Upload</button>
    </div>
  </div>

  <br>

  <div class="row d-flex justify-content-between user-select-none">
    <div class="col-md-7">Name</div>
    <div class="col-md-5 row text-center text-muted d-none d-md-flex d-lg-flex d-xxl-flex d-xl-flex">
      <div class="col-4">Size</div>
      <div class="col-5">Modified</div>
    </div>
  </div>

  <hr class="mb-1">

  {{template "browser/rows.tmpl" (.)}}

</section>
<script type="module">
  import {Uppy, XHRUpload, Dashboard, StatusBar} from "/assets/js/uppy.min.mjs"
  let client = new Uppy().use(XHRUpload, {
    endpoint: 'https://{{.host}}/browser/upload',
  })

  client.setMeta({rootPath: {{$.fullPath}}})
  client.setMeta({folderID: {{$.folder.ID}}})

  client.use(Dashboard, {
    autoProceed: true,
    fileManagerSelectionType: 'both',
    proudlyDisplayPoweredByUppy: false,
    trigger: "#upload-btn",
    showProgressDetails: true,
    closeModalOnClickOutside: true,
  })
  client.use(StatusBar, {target: '#status-bar'});

  client.on('upload-success', (file) => {
    htmx.trigger("#content", "refresh-event");
  });

</script>
