{{ $url := pathJoin "/browser" $.space.ID $.fullPath}}
<section id="content" class="p-4" hx-get="{{$url}}" hx-swap="outerHTML" hx-trigger="refreshFolder from:body">

  <div id="status-bar"></div>
  <div class="row justify-content-between">
    {{template "browser/breadcrumb.tmpl" (.Breadcrumb)}}

    <div class="col-md-2 col-4">
      <div class="dropdown">
        <button class="d-flex btn btn-primary button-lg dropdown-toggle align-items-center fs-6" type="button"
          id="add-button" data-mdb-toggle="dropdown" aria-expanded="false"><i
            class="bi bi-plus me-1 fs-4"></i>Add</button>
        <ul class="dropdown-menu" aria-labelledby="add-button">
          <li><a class="dropdown-item text-dark" hx-get="/browser/create-dir?space={{$.space.ID}}&dir={{$.fullPath}}"
              hx-target="#modal-target" hx-trigger="click" data-mdb-toggle="modal" hx-swap="innerHTML"
              data-mdb-target="#modal-target"><i class="bi bi-folder-fill me-2"
                style="font-size: 1.1rem; color: cornflowerblue;"></i>New folder</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a id="upload-file-btn" class="dropdown-item text-dark"><i class="bi bi-upload me-2"></i>Upload File</a>
          </li>
          <li><a id="upload-folder-btn" class="dropdown-item text-dark"><i class="bi bi-upload me-2"></i>Upload
              Folder</a></li>
        </ul>
      </div>
    </div>
  </div>

  <br>

  <div class="row d-flex justify-content-between user-select-none">
    <div class="col-md-7">Name</div>
    <div class="col-md-5 row text-center text-muted d-none d-md-flex d-lg-flex d-xxl-flex d-xl-flex">
      <div class="col-1"></div>
      <div class="col-4">Size</div>
      <div class="col-5">Modified</div>
    </div>
  </div>

  <hr class="mb-1">

  {{template "browser/rows.tmpl" (.RowsContent)}}



</section>
<script type="module">
  import {Uppy, XHRUpload, StatusBar} from "/assets/js/uppy.min.mjs"
  let client = new Uppy().use(XHRUpload, {
    endpoint: '/browser/upload',
    allowMultipleUploadBatches: true
  })

  client.setMeta({rootPath: {{$.fullPath}}})
  client.setMeta({spaceID: {{$.space.ID}}})
  client.use(StatusBar, {target: '#status-bar'});

  client.on('complete', (result) => {
    htmx.trigger("#content", "refreshFolder");
  });

  document.getElementById('upload-file-btn').
    addEventListener("click", (e) => {
      var input = document.createElement('input');
      input.type = 'file';
      input.multiple = true

      input.onchange = e => {
        for (const file of e.target.files) {
          client.addFile(file)
        }

        client.upload()
      }

      input.click();
    })

  document.getElementById('upload-folder-btn').
    addEventListener("click", (e) => {
      var input = document.createElement('input');
      input.type = 'file';
      input.multiple = true
      input.webkitdirectory = true
      input.mozdirectory = true
      input.directory = true

      input.onchange = e => {
        for (const file of e.target.files) {
          client.addFile({

            name: file.webkitRelativePath,
            data: file,
            type: file.type,
            source: 'Local',
            isRemote: false,
          })
        }

        client.upload()
      }

      input.click();
    })
</script>
