<section class="p-4">
  <div id="status-bar"></div>
  <div class="row justify-content-between">
    {{template "browser/breadcrumb" (.Breadcrumb)}}

    <div class="col-md-2 col-4">
      <div class="dropdown">
        <button class="d-flex btn btn-primary button-lg dropdown-toggle align-items-center fs-6" data-mdb-dropdown-init
          type="button" id="add-button" aria-expanded="false"><i class="bi bi-plus me-1 fs-4"></i>Add</button>
        <ul class="dropdown-menu" aria-labelledby="add-button">
          <li><a class="dropdown-item text-dark"
              hx-get="/browser/create-dir?space={{$.Folder.Space.ID}}&dir={{$.Folder.Path}}" hx-target="#modal-target"
              data-mdb-modal-init hx-trigger="click" data-mdb-toggle="modal" hx-swap="innerHTML"
              data-mdb-target="#modal-target"><i class="bi bi-folder-fill me-2"
                style="font-size: 1.1rem; color: cornflowerblue;"></i>New folder</a></li>
          <li>
            <hr class="dropdown-divider" />
          </li>
          <li><a id="upload-file-btn" class="dropdown-item text-dark"><i class="bi bi-upload me-2"></i>Upload File</a>
          </li>
          <li><a id="upload-folder-btn" class="dropdown-item text-dark"><i class="bi bi-upload me-2"></i>Upload
              Folder</a></li>
        </ul>
      </div>
    </div>
  </div>

  <br>
  <div class="row d-flex justify-content-between user-select-none">
    <div class="col-md-7">Name</div>
    <div class="col-md-5 row text-center text-muted d-none d-md-flex d-lg-flex d-xxl-flex d-xl-flex">
      <div class="col-1"></div>
      <div class="col-4">Size</div>
      <div class="col-5">Modified</div>
    </div>
  </div>

  <hr class="mb-1">


  {{template "browser/rows" (.Rows)}}

  <input type="hidden" id="folder-path-meta" value="{{$.Folder.Path}}">
  <input type="hidden" id="space-id-meta" value="{{$.Folder.Space.ID}}">
</section>

<script type="module" src="/assets/js/file-upload.mjs"></script>
<script type="module" src="/assets/js/sidenav.mjs"></script>
