<!--Section: Content-->

{{ $url := pathJoin "/browser" $.folder.ID $.fullPath}}
<section id="content" hx-get="{{$url}}" hx-trigger="refresh-event">
  <div class="card shadow-0">
    <div class="card-body">
      <div id="status-bar"></div>
      <div class="row justify-content-between">
        <div class="col-6">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb user-select-none">
              {{range .breadcrumb}}
              <li class="breadcrumb-item{{if not .Current}} active{{end}}" {{if .Current}}aria_current="page" {{end}}>
                {{if not .Current}}<a href="{{.Href}}">{{.Name}}</a>{{else}}{{.Name}}{{end}}
              </li>
              {{end}}
            </ol>
          </nav>
        </div>

        <div class="col-2">
          <button id="upload-btn" class="btn btn-primary button-lg">Upload</button>
        </div>
      </div>

      <br>

      <div class="row user-select-none">
        <div class="col-8">Name</div>
        <div class="col-1 text-muted">Size</div>
        <div class="col-2 text-muted">Modified</div>
        <div class="col-1 text-muted"></div>
      </div>

      <hr class="mb-1">


      {{range $idx, $val := .inodes}}
      {{ $url := pathJoin "/browser" $.folder.ID $.fullPath $val.Name}}

      <div class="row border-bottom py-1 d-flex align-items-center">
        <div class="col-8 position-relative">
          <a class="link-dark user-select-none stretched-link" href="{{$url}}">
            <i class="bi {{getInodeIconClass $val.Name $val.IsDir}} me-3" style="font-size: 2rem;"></i> {{$val.Name}}
          </a>
        </div>

        <div class="col-1 text-muted">{{humanSize $val.USize}}</div>
        <div class="col-2 text-muted">{{humanTime $val.LastModifiedAt}}</div>

        <div class="col-1 dropdown" style="width: 4rem;">
          <a class="btn btn-light btn-rounded" href="#" role="button" id="dropdownMenuLink{{$idx}}"
            data-mdb-toggle="dropdown" aria-expanded="false"><i class="bi bi-three-dots text-muted"
              style="font-size: 1.3rem;"></i></a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink{{$idx}}" style="font-size: 1rem;">
            <!-- <li><a class="dropdown-item text-black" href="#"><i class="bi bi-download me-2"></i>Download
                {{if .IsDir}}Folder{{else}}File{{end}}</a>
            </li> -->
            <li>
              <hr class="dropdown-divider" />
            </li>
            <li><a class="dropdown-item text-danger" href="#" hx-target="#content" hx-swap="outerHTML"
                hx-delete="{{$url}}"><i class="bi bi-trash-fill me-2"></i> Delete
                {{if
                .IsDir}}Folder{{else}}File{{end}}</a>
            </li>
          </ul>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
<script type="module">
  import {Uppy, XHRUpload, Dashboard, StatusBar} from "/assets/js/uppy.min.mjs"
  let client = new Uppy().use(XHRUpload, {
    endpoint: 'http://localhost:8080/browser/upload',
  })

  client.setMeta({rootPath: {{$.fullPath}}})
  client.setMeta({folderID: {{$.folder.ID}}})

  client.use(Dashboard, {
    autoProceed: true,
    fileManagerSelectionType: 'both',
    proudlyDisplayPoweredByUppy: false,
    trigger: "#upload-btn",
    showProgressDetails: true,
    closeModalOnClickOutside: true,
  })
  client.use(StatusBar, {target: '#status-bar'});

  client.on('upload-success', (file) => {
    htmx.trigger("#content", "refresh-event");
  });

</script>
<!--Section: Content-->
