<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- Avatar -->
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicons/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/images/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#da532c">

  <meta name="theme-color" content="#ffffff">
  <link href="/assets/css/mdb.min.css" rel="stylesheet"
    integrity="sha384-GAkRUzqpI8nibf6tuqfCK86JNY1HieP/R1SC9biUAe2WHx9yWOd/n/F6LmMJE5rT" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/bootstrap-icons.min.css"
    integrity="sha384-sAjZvrYXacB9bJ0LVUOAvlGp7N5A9s6krO+1oZ2bSc1hG7q3UpoTU50kWYTKDOQC" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/fontawesome.min.css"
    integrity="sha384-BY+fdrpOd3gfeRvTSMT+VUZmA728cfF9Z2G42xpaRkUGu2i3DyzpTURDo5A6CaLK" crossorigin="anonymous">
</head>

<body>
  <main class="container p-5">
    {{ yield }}
  </main>


  <script src="/assets/js/htmx.min.js"
    integrity="sha384-UA0tebWwml7YAJLaVDuzHObJRsmBMTLreFpmSf5x8bNLyEekjwDKMgyPF1epRXNh"
    crossorigin="anonymous"></script>
  <script src="/assets/js/response-targets.js"
    integrity="sha384-gusmZslx0upZyzPbfjGh/OqGlmWvx5bzxyM8yYKj67DTIsUhzEo44hVhrgAgAv9V"
    crossorigin="anonymous"></script>
</body>

</html>
