<!doctype html>
{{ template "header"}}

<body>
  <main class="container p-5">
    {{ yield }}
  </main>


  <script src="/assets/js/libs/htmx.min.js"></script>
  <script src="/assets/js/libs/response-targets.js"></script>
</body>

</html>
