<section class="container h-100">
  <div class="row justify-content-sm-center h-100">
    <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
      <div class="text-center my-5">
        <br>
        <br>
        <h1 class="display-4">Welcome Home!</h1>
      </div>
      <hr class="hr hr-blurry ">
      <div>

        <div class="container d-inline-flex flex-row justify-content-around align-items-around">
          <div class="row gx-5">
            <div class="col-md-6">
              <a href="/browser" class="btn btn-rounded btn-lg bg-light"> <i class="fa fa-folder fa-4x"></i></a>
              <h4 class="text-center lh-lg">Browser</h4>
            </div>


            <div class="col-md-6">
              <a href="/settings" class="btn btn-rounded btn-lg bg-light"> <i class="fas fa-gears fa-4x"></i></a>
              <h4 class="text-center lh-lg">Settings</h4>
            </div>

          </div>
        </div>
      </div>
      <hr class="hr hr-blurry ">
    </div>
</section>
