<section class="container pt-3" hx-target-4*="this">
  <div class="card-body">
    <div data-mdb-datatable-init class="datatable">
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Users</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{ range .Spaces}}
          <tr>
            <td> {{.Name}} </td>

            <td>
              {{range .Owners}}
              <span class="badge badge-info rounded-pill">{{ with index $.Users .}}{{.Username}}{{end}}</span>
              {{end}}
            </td>

            <td>

              <button role="button" 
                class="btn btn-link btn-sm btn-rounded"
                hx-target="body"
                hx-confirm="Are you sure you wish to delete the space '{{.Name}}' ? All its content will be definitively removed."
                hx-post="/settings/spaces/{{.ID}}/delete" 
                hx-swap="outerHTML">Delete</button>
            </td>

          </tr>
          {{end}}
        </tbody>
      </table>
    </div>

    <button type="button" 
      class="btn btn-rounded btn-outline-primary mb-3" 
      data-mdb-target="#modal-target"
      data-mdb-modal-init 
      data-mdb-toggle="modal" 
      hx-get="/settings/spaces/new" 
      hx-target="#modal-target"
      hx-trigger="click" 
      hx-swap="innerHTML">
      <i class="fas fa-plus me-2"></i>Create a new space</button>
  </div>
</section>
