<main class="container">
  <div class="col">
    <div class="card shadow-lg">
      <div class="card-header">
        <h4>Web sessions</h4>
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          {{ range .webSessions }}
          <li class="list-group-item">
            <div class="row">
              <svg class="col-1 bi" width="32" height="32" fill="currentColor">
                <use xlink:href="/assets/font/bootstrap-icons.svg#laptop" />
              </svg>
              <div class="col-4">
                <span class="col-4"><b>{{ .Device }}</b></span>
                {{ if (eq .Token $.currentSession.Token) }}
                <span class="badge text-bg-warning">Curent Session</span>
                {{ end }}
              </div>
              {{ if (ne .Token $.currentSession.Token) }}
              <button type="button" class="col-2 offset-md-4 btn btn-danger col-2">Disconnect</button>
              {{ end }}
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</main>
