<main class="container">
  <h3>Password</h3>

  <hr>

  <h3>Devices and sessions</h3>

  <br>
  <h4>Browsers</h4>
  {{ $nbWebSessions := len .webSessions }}
  <ul class="list-group list-group-flush">
    {{range .webSessions}}
    <li class="list-group-item">
      <div class=" row">
        <div class="col-2">
          <span class="col-2"><b>{{ .Device }}</b></span>
          {{ if (eq .Token $.currentSession.Token) }}
          <span class="badge text-bg-warning">Curent Session</span>
          {{ end }}
        </div>
        {{ if (ne .Token $.currentSession.Token) }}
        <button type="button" hx-delete="/settings/webSessions/{{.Token}}" hx-target="closest li" hx-swap="outerHTML"
          class="col-1 btn btn-danger">Disconnect</button>
        {{ end }}
      </div>
    </li>
    {{end}}
  </ul>

  <hr>

  <br>
  <h4>DAV Sessions</h4>

  {{ $nbDavSessions := len .davSessions }}
  <ul class="list-group list-group-flush">
    {{range .davSessions}}
    <li class="list-group-item">
      <div class="row">
        <div class="col-4">
          <span class="col-4">{{ .ID }}></span>
        </div>
        <div class="col-2">
          <span class="col-2">{{ .Username }}</span>
        </div>
        <button type="button" hx-delete="/settings/davSessions/{{.ID}}" hx-target="closest li" hx-swap="outerHTML"
          class="col-1 btn btn-danger">Revoke</button>
      </div>
    </li>
    {{end}}
  </ul>

  {{if (eq $nbDavSessions 0)}}
  <p class="text-secondary"><small>There is not sessions yet</small></p>
  {{end}}

  <form class="row g-3" hx-post="/settings/davSessions" hx-target="this" hx-swap="outerHTML">
    <div class="col-auto">
      <label for="inputDavSession" class="visually-hidden">Name</label>
      <input type="text" class="form-control" id="davSessionName" placeholder="App name">
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-primary mb-3">Create new Dav credentials</button>
    </div>
  </form>


  <hr>


  <br>
  <h4>Oauth2 Sessions</h4>

  {{ $nbOauthSessions := len .oauthSessions }}
  {{range .davSessions}}
  {{end}}

  {{if (eq $nbOauthSessions 0)}}
  <p class="text-secondary"><small>There is not sessions yet</small></p>
  {{end}}
</main>
