<section id="content">
  <div class="card shadow-0">
    <div class="card-header py-4 mb-3">
      <h4 class="mb-0">User management</h4>
    </div>
    <div class="card-body">
      <table class="table align-middle mb-0">
        <thead>
          <tr>
            <th>UserName</th>
            <th>Admin</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{range .users}}
          <tr>
            <td> {{.Username}}
              {{ if (eq .ID $.current.ID) }}
              <span class="badge text-bg-primary">You</span>
              {{ end }}
            </td>
            <td> {{.IsAdmin}} </td>
            <td>

              <form action="/settings/users/{{.ID}}/delete" method="post" target="_top"
                hx-post="/settings/users/{{.ID}}/delete" hx-target="#content" hx-swap="outerHTML"
                hx-confirm="Are you sure you wish to delete the account '{{.Username}}' ? All its data and files will be definitively removed."
                hx-delete="/settings/users/{{.ID}}">
                <button type="submit"
                  class="btn btn-link btn-sm btn-rounded {{if (eq .ID $.current.ID)}}disabled{{end}}">Delete</button>
              </form>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>

      <br>

      <form class="row g-3" action="/settings/users" method="post" target="_top" hx-post="/settings/users"
        hx-target="#content" hx-swap="outerHTML">
        <div class="col-auto">
          <label for="username" class="form-label visually-hidden">Username</label>
          <input type="text" name="username" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="col-auto">
          <label for="password" class="form-label visually-hidden">Username</label>
          <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="col-auto">
          <select name="role" class="select" id="role">
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
          <label class="form-label select-label visually-hidden">Role</label>
        </div>
        <div class="col-auto">
          <button type="submit" class="btn btn-primary mb-3">Create new user</button>
        </div>
      </form>

    </div>
  </div>
</section>
